<h2>Cat form!</h2>
<%= flash.now[:errors] %>
<form action="/cats/123" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <!-- label's `for` attribute connects with the input's `id` attribute-->
  <label for="cat_name"><%= @cat.name %></label>
  <!-- input name `cat[name]` means that Rails will nest the `name` attribute
       inside a `cat` hash: `{ :cat => { :name => "gizmo" } }` -->
  <input name="cat[name]" id="cat_name" type="text">
  <br>
  
  <label for="cat_age">Age</label>
  <input name="cat[age]" id="cat_age" type="number">
  <br>
  
  <label>Sex</label>
  <div>
    <input name="cat[sex]" id="cat_sex_m" type="radio" value="m">
    <label for="cat_sex_m">Male</label>
    <input name="cat[sex]" id="cat_sex_f" type="radio" value="f">
    <label for="cat_sex_f">Female</label>
  </div>
  <br>
  
  <label for="cat_description">Biography</label>
  <textarea name="cat[description]" id="cat_description"></textarea>
  <br>
  
  <label for="color">Color</label>
  <select name="cat[color]" id="color">
        <% ["white", "black", "brown", "red", "green", "blue"].each do |color| %>
        <option value = <%color%>><%=color%></option>
    <% end %>
  </select>
  <br>

  <label for="cat_birth_date">Birth date</label>
  <input name="cat[birth_date]" id="cat_birth_date" type="date"></input>

  <input type="submit" value="Build my cat!">
</form>